#include "RESOURCE.H"


#define IDC_TABCONTROL 0x1000
#define IDC_STATIC 0x1001
#define IDC_BUTTON_TERMINATE 0x1002
#define IDC_LTEXT_NPOINTS 0x1003
#define IDC_BUTTON_COPYTOLPEAK 0x1004
#define IDC_BUTTON_COPYTORPEAK 0x1005
#define IDC_BUTTON_1ST 0x1006
#define IDC_LISTBOX_1PEAK 0x1007
#define IDC_BUTTON_1PEAK 0x1008
#define IDC_BUTTON_1PEAK_INFO 0x1009
#define IDC_LISTBOX_2PEAK 0x100A
#define IDC_BUTTON_2PEAK 0x100B
#define IDC_BUTTON_2PEAK_INFO 0x100C

bf DIALOG DISCARDABLE 0, 0, 501, 323
	 STYLE 0x0004 | WS_CLIPCHILDREN | WS_CLIPSIBLINGS | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_THICKFRAME | WS_VISIBLE  | WS_BORDER | DS_3DLOOK | DS_CENTER
	 EXSTYLE WS_EX_WINDOWEDGE
	 FONT 8,"MS Sans Serif"
	 CAPTION "bf"
	 BEGIN
	      CONTROL "", IDC_TABCONTROL, "SysTabControl32", WS_CHILD | WS_VISIBLE | TCS_SINGLELINE | TCS_TABS | TCS_FOCUSNEVER | TCS_FIXEDWIDTH | TCS_FLATBUTTONS | TCS_SCROLLOPPOSITE, 0, 0, 500, 12
	      CONTROL "", IDC_STATIC, "STATIC", WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 13, 500, 287 //, WS_EX_CLIENTEDGE

	      PUSHBUTTON "ПРЕРВАТЬ", IDC_BUTTON_TERMINATE, 65, 13, 64, 16, WS_CHILD | NOT WS_VISIBLE | BS_PUSHBUTTON | BS_CENTER | BS_VCENTER | WS_DISABLED
	      CTEXT "", IDC_LTEXT_NPOINTS, 0, 13 + 4, 64, 12

	      PUSHBUTTON "1st", IDC_BUTTON_1ST, 0, 101, 32, 12, WS_CHILD | NOT WS_VISIBLE | BS_PUSHBUTTON | BS_CENTER | BS_VCENTER // | WS_DISABLED
	      PUSHBUTTON "1peak", IDC_BUTTON_1PEAK, 33, 101, 32, 12, WS_CHILD | NOT WS_VISIBLE | BS_PUSHBUTTON | BS_CENTER | BS_VCENTER // | WS_DISABLED
	      PUSHBUTTON "finfo1", IDC_BUTTON_1PEAK_INFO, 203 - 32, 101, 32, 12, WS_CHILD | NOT WS_VISIBLE | BS_PUSHBUTTON | BS_CENTER | BS_VCENTER // | WS_DISABLED
	      PUSHBUTTON "2peak", IDC_BUTTON_2PEAK, 331 - 33, 101, 32, 12, WS_CHILD | NOT WS_VISIBLE | BS_PUSHBUTTON | BS_CENTER | BS_VCENTER // | WS_DISABLED
	      PUSHBUTTON "finfo2", IDC_BUTTON_2PEAK_INFO, 298 + 203 - 32, 101, 32, 12, WS_CHILD | NOT WS_VISIBLE | BS_PUSHBUTTON | BS_CENTER | BS_VCENTER // | WS_DISABLED
	      PUSHBUTTON "Копировать в левый пик", IDC_BUTTON_COPYTOLPEAK, 204, 30, 94, 12, WS_CHILD | NOT WS_VISIBLE | BS_PUSHBUTTON | BS_CENTER | BS_VCENTER // | WS_DISABLED
	      PUSHBUTTON "Копировать в правый пик", IDC_BUTTON_COPYTORPEAK, 204, 30 + 13, 94, 12, WS_CHILD | NOT WS_VISIBLE | BS_PUSHBUTTON | BS_CENTER | BS_VCENTER // | WS_DISABLED

	      LISTBOX IDC_LISTBOX_1PEAK, 0, 30, 203, 70, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | LBS_STANDARD | LBS_DISABLENOSCROLL | LBS_NOINTEGRALHEIGHT // | WS_DISABLED
	      LISTBOX IDC_LISTBOX_2PEAK, 298, 30, 203, 70, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | LBS_STANDARD | LBS_DISABLENOSCROLL | LBS_NOINTEGRALHEIGHT // | WS_DISABLED
	 END

#define IDC_EDIT_HJPROPERTY_DIVISOR 0x1000
#define IDC_EDIT_HJPROPERTY_TIMEOUT 0x1001
#define IDC_EDIT_HJPROPERTY_PREC 0x1002
#define IDC_EDIT_PRIORITY 0x1003
#define IDC_AUTORADIOBUTTON_HJPROPERTY_INF 0x1004
#define IDC_AUTORADIOBUTTON_HJPROPERTY_VAL 0x1005
#define IDC_AUTOCHECKBOX_PREC 0x1006

hj DIALOG DISCARDABLE 0, 0, 84, 94
	 STYLE 0x0004 | WS_CLIPCHILDREN | WS_CLIPSIBLINGS | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE  | WS_BORDER | DS_3DLOOK | DS_CENTER
	 EXSTYLE WS_EX_WINDOWEDGE | WS_EX_TOOLWINDOW
	 FONT 8,"MS Sans Serif"
	 CAPTION "Hooke and Jeeves"
	 BEGIN
	      PUSHBUTTON "&Принять", IDOK, 0, 78, 84, 16, WS_CHILD | WS_VISIBLE | BS_PUSHBUTTON | BS_CENTER | BS_VCENTER
	      EDITTEXT IDC_EDIT_PRIORITY, 41, 0, 42, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_AUTOHSCROLL | ES_CENTER | ES_LOWERCASE | ES_NUMBER, WS_EX_CLIENTEDGE // | WS_DISABLED
	      RTEXT "Приоритет:", -1, 0, 0, 40, 12
	      EDITTEXT IDC_EDIT_HJPROPERTY_DIVISOR, 41, 13, 42, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_AUTOHSCROLL | ES_CENTER | ES_LOWERCASE, WS_EX_CLIENTEDGE // | WS_DISABLED
	      RTEXT "Делитель:", -1, 0, 13, 40, 12
	      CTEXT "Таймаут:", -1, 0, 33, 40, 12
	      AUTORADIOBUTTON "INFINITE", IDC_AUTORADIOBUTTON_HJPROPERTY_INF, 41, 26, 42, 12
	      AUTORADIOBUTTON "", IDC_AUTORADIOBUTTON_HJPROPERTY_VAL, 41, 39, 12, 12
	      EDITTEXT IDC_EDIT_HJPROPERTY_TIMEOUT, 54, 39, 29, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_AUTOHSCROLL | ES_CENTER | ES_LOWERCASE | ES_NUMBER, WS_EX_CLIENTEDGE // | WS_DISABLED
	      CTEXT "Предел шагов:", -1, 0, 52, 83, 12
	      AUTOCHECKBOX "Общий:", IDC_AUTOCHECKBOX_PREC, 2, 65, 40, 12
	      EDITTEXT IDC_EDIT_HJPROPERTY_PREC, 43, 65, 40, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_AUTOHSCROLL | ES_CENTER | ES_LOWERCASE, WS_EX_CLIENTEDGE // | WS_DISABLED
	 END

#define IDC_AUTOCHECKBOX_1ST2PEAK 0x1000
#define IDC_BUTTON_COLOR1PEAK 0x1001
#define IDC_BUTTON_COLOR2PEAK 0x1002
#define IDC_BUTTON_COLORSS 0x1003

graph DIALOG DISCARDABLE 0, 0, 94, 94
	    STYLE 0x0004 | WS_CLIPCHILDREN | WS_CLIPSIBLINGS | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE  | WS_BORDER | DS_3DLOOK | DS_CENTER
	    EXSTYLE WS_EX_WINDOWEDGE | WS_EX_TOOLWINDOW
	    FONT 8,"MS Sans Serif"
	    CAPTION "Спектр"
	    BEGIN
		 PUSHBUTTON "&Принять", IDOK, 0, 78, 93, 16, WS_CHILD | WS_VISIBLE | BS_PUSHBUTTON | BS_CENTER | BS_VCENTER
		 CTEXT "Задать цвет графика:", -1, 0, 13, 93, 12
		 PUSHBUTTON "&Одиночный пик", IDC_BUTTON_COLOR1PEAK, 0, 26, 93, 16, WS_CHILD | WS_VISIBLE | BS_PUSHBUTTON | BS_CENTER | BS_VCENTER
		 PUSHBUTTON "&Двойной пик", IDC_BUTTON_COLOR2PEAK, 0, 43, 93, 16, WS_CHILD | WS_VISIBLE | BS_PUSHBUTTON | BS_CENTER | BS_VCENTER
		 PUSHBUTTON "&Обрабатываемая область", IDC_BUTTON_COLORSS, 0, 60, 93, 16, WS_CHILD | WS_VISIBLE | BS_PUSHBUTTON | BS_CENTER | BS_VCENTER
		 AUTOCHECKBOX "Суммарный график", IDC_AUTOCHECKBOX_1ST2PEAK, 2, 0, 93, 12
	    END

#define IDC_EDIT_VAR_VAL 0x1000
#define IDC_EDIT_VAR_MIN 0x1001
#define IDC_EDIT_VAR_MAX 0x1002
#define IDC_EDIT_VAR_STEP 0x1003
#define IDC_EDIT_VAR_PRECISION 0x1004
#define IDC_EDIT_VAR_RMSE 0x1005
#define IDC_AUTOCHECKBOX_VAR_LOCK 0x1006

var DIALOG DISCARDABLE 0, 0, 98, 117
	  STYLE 0x0004 | WS_CLIPCHILDREN | WS_CLIPSIBLINGS | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE  | WS_BORDER | DS_3DLOOK | DS_CENTER
	  EXSTYLE WS_EX_WINDOWEDGE | WS_EX_TOOLWINDOW
	  FONT 8,"MS Sans Serif"
	  CAPTION "var"
	  BEGIN
	       PUSHBUTTON "&Принять", IDOK, 0, 95, 98, 21, WS_CHILD | WS_VISIBLE | BS_PUSHBUTTON | BS_CENTER | BS_VCENTER
	       CTEXT "val:", -1, 0, 0, 18, 12
	       CTEXT "min:", -1, 0, 13, 18, 12
	       CTEXT "max:", -1, 0, 26, 18, 12
	       CTEXT "step:", -1, 0, 39, 18, 12
	       CTEXT "prec:", -1, 0, 52, 18, 12
	       CTEXT "rmse:", -1, 0, 65, 18, 12
	       EDITTEXT IDC_EDIT_VAR_VAL, 19, 0, 77, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_AUTOHSCROLL | ES_LEFT, WS_EX_CLIENTEDGE // | WS_DISABLED
	       EDITTEXT IDC_EDIT_VAR_MIN, 19, 13, 77, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_AUTOHSCROLL | ES_LEFT, WS_EX_CLIENTEDGE // | WS_DISABLED
	       EDITTEXT IDC_EDIT_VAR_MAX, 19, 26, 77, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_AUTOHSCROLL | ES_LEFT, WS_EX_CLIENTEDGE // | WS_DISABLED
	       EDITTEXT IDC_EDIT_VAR_STEP, 19, 39, 77, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_AUTOHSCROLL | ES_LEFT, WS_EX_CLIENTEDGE // | WS_DISABLED
	       EDITTEXT IDC_EDIT_VAR_PRECISION, 19, 52, 77, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_AUTOHSCROLL | ES_LEFT, WS_EX_CLIENTEDGE // | WS_DISABLED
	       EDITTEXT IDC_EDIT_VAR_RMSE, 19, 65, 77, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_AUTOHSCROLL | ES_LEFT, WS_EX_CLIENTEDGE// | WS_DISABLED | ES_READONLY
	       AUTOCHECKBOX "lock", IDC_AUTOCHECKBOX_VAR_LOCK, 19, 78, 98, 16
	  END

#define IDC_EDIT_EXPRESION 0x1000
#define IDC_EDIT_WEIGHT 0x1001
#define IDC_EDIT_TICKS 0x1002
#define IDC_EDIT_CORESPEED 0x1003

info DIALOG DISCARDABLE 0, 0, 121, 72
	   STYLE 0x0004 | WS_CLIPCHILDREN | WS_CLIPSIBLINGS | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE  | WS_BORDER | DS_3DLOOK | DS_CENTER
	   EXSTYLE WS_EX_WINDOWEDGE | WS_EX_TOOLWINDOW
	   FONT 8,"MS Sans Serif"
	   CAPTION "info"
	   BEGIN
		PUSHBUTTON "&Принять", IDOK, 0, 52, 121, 20, WS_CHILD | WS_VISIBLE | BS_PUSHBUTTON | BS_CENTER
		CTEXT "expr:", -1, 0, 0, 23, 12
		EDITTEXT IDC_EDIT_EXPRESION, 24, 0, 97, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_LOWERCASE | ES_AUTOHSCROLL | ES_READONLY, WS_EX_CLIENTEDGE // | WS_DISABLED
		CTEXT "w:", -1, 0, 13, 23, 12
		EDITTEXT IDC_EDIT_WEIGHT, 24, 13, 97, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_LOWERCASE | ES_AUTOHSCROLL | ES_READONLY, WS_EX_CLIENTEDGE // | WS_DISABLED
		CTEXT "ticks:", -1, 0, 26, 23, 12
		EDITTEXT IDC_EDIT_TICKS, 24, 26, 97, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_LOWERCASE | ES_AUTOHSCROLL | ES_READONLY, WS_EX_CLIENTEDGE // | WS_DISABLED
		CTEXT "core:", -1, 0, 39, 23, 12
		EDITTEXT IDC_EDIT_CORESPEED, 24, 39, 97, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_LOWERCASE | ES_AUTOHSCROLL | ES_READONLY, WS_EX_CLIENTEDGE // | WS_DISABLED
	   END

#define IDM_FILE_OPEN 0x100
#define IDM_FILE_SAVE 0x101
#define IDM_FILE_CLOSE 0x102

#define IDM_DO1ST 0x200
#define IDM_DO1PEAK 0x201
#define IDM_DO2PEAK 0x202

#define IDM_HJPROPERTY 0x300
#define IDM_GRAPHPROPERTY 0x301

#define IDM_ABOUT 0x400
#define IDM_HELP 0x401

bf MENU DISCARDABLE
       BEGIN
	    POPUP "&Файл"
		 BEGIN
		      MENUITEM "&Открыть спектр...", IDM_FILE_OPEN
		      MENUITEM "&Сохранить выделенное...", IDM_FILE_SAVE
		      MENUITEM "&Закрыть", IDM_FILE_CLOSE//, GRAYED
		      MENUITEM "", MFT_SEPARATOR
		      MENUITEM "В&ыход\tEsc", IDCANCEL
		 END
	    POPUP "&Анализ"
		 BEGIN
		      MENUITEM "&Первое приближение", IDM_DO1ST
		      MENUITEM "&Одиночный пик", IDM_DO1PEAK
		      MENUITEM "&Пара пиков", IDM_DO2PEAK
		 END
	    POPUP "С&войства"
		 BEGIN
		      MENUITEM "&Спектр...", IDM_GRAPHPROPERTY
		      MENUITEM "&Метод Хука-Дживса...", IDM_HJPROPERTY
		 END
	    POPUP "&Справка"
		 BEGIN
		      MENUITEM "&О программе...", IDM_ABOUT
		      MENUITEM "&Вызов справки\tF1", IDM_HELP
		 END
       END

bf ICON DISCARDABLE bfrus.ico

bf HTML bf.html